

input, textarea,#dropdown, #submit{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #1f342d;
    color: #d99129;
}
body{
    font-family: "Montserrat",sans-serif;
    margin-left: 30px;
    margin-right: 15px;
    background-color: #1f342d;
    color: #d99129;

}

header{
    
    font-weight: 700;
    display: flex;
    justify-content: center;

}

h5{
    font-weight: 600;
}

label{
    font-weight: 500;
    
}
textarea{
    width: 75%;
    padding-bottom: 45px;
}


#submit{
    font-weight: 700;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;    
    margin:auto;
    
    border-color: #d99129;
    
}
::placeholder,select { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d99129;
    opacity: 1; /* Firefox */
  }





input:invalid {
    border: 2px solid white;
  }
  
  input:invalid:required {
    background-image:cross-fade(black,white);
    
  }
  
  input:valid {
    border: 2px solid black;
  }
