

header{
    display: flex;
}

#nav-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 5px;
    height: 45px; 
    width: 100%; 
    align-content: center;
    
  }


 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424857;
  }
  
  nav ul li {
    float: left;
    align-items: center;
    
  }
  
  nav ul li a {
    display: block;
    color: #2f8bf6;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  .nav-link{
      font-family: "Montserrat", sans-serif;
  }


  input:invalid {
    border: 2px solid white;
  }
  
  input:invalid:required {
    background-image:cross-fade(black,white);
    
  }
  #header-img{
    width: 100px;
    height: 200px;
  }
  
  input:valid {
    border: 2px solid black;
  }

  body{
    color: #2f8bf6;
    background-color: #282c34;
    margin-top: 45px;
    margin-left: 25px;
    margin-right: 25px;
  }
  #home, #header-img{
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media screen and (max-width: 600px) {
    body {
      background-color: #41403e;
    }
  }