/* Stylesheet for Tribute Page */

/* Grey-  #D1D3D4; RGB- (209, 211, 212); CMYK- (17, 12, 12, 0)
Gold- #DBA111; RGB- (219, 161, 17); CMYK- (15, 37, 100, 1);
Blue- #034694 ; RGB- (3, 70, 148); CMYK-(100, 83, 10, 1); */



.h1{
    text-align:center;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    margin-top: auto;
    
}